<link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins:800" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="row">
    <div class="col-6">
      <h2>Notícias recentes</h2>
      <p>Clique no título para ler a notícia</p>
      <div>
       <ul>
        <li *ngFor="let noticia of noticias">
          <p (click)="mostrar(noticia)">{{ noticia.titulo }}</p>
          <p *ngIf="noticia.visivel">
           {{ noticia.descricao }}
           <br> 
           Data de Publicação: {{ noticia.date }}
           <br>
           Publicada: {{ noticia.checkbox }}
           <br>
           Categoria(s): {{ noticia.categoria }}
           <br>
           <button class="btn btn-secondary" (click)="fechar(noticia)">Fechar</button>
           <button class="btn btn-warning" (click)="editar(noticia)">Editar</button>
           <button class="btn btn-danger" (click)="excluir(noticia)">Excluir</button>
          </p>
         </li>   
       </ul>
      </div>
    </div>
    <div class="col-6">
      <form #cadastro="ngForm" (submit)="cadastrar()">
        <div>
          <label for="titulo">Título</label>
          <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" required>
        </div>
      
        <div>
          <label for="descricao">Descrição</label>
          <textarea type="text" id="descricao" name="descricao" [(ngModel)]="descricao" required></textarea>
        </div>
      
        <div>
          <label for="date">Data de Publicação</label>
          <input type="date" id="date" name="date" [(ngModel)]="date" required>
        </div>
      
        <div>
          <label for="checkbox">Publicada</label>
          <input type="checkbox" id="checkbox" name="checkbox" [(ngModel)]="checkbox">
        </div>
      
        <div>
          <select name="categoria" ngModel>
            <option value="" disabled>Selecione uma categoria</option>
            <option *ngFor="let categoria of categorias" [ngValue]="categoria">
              {{ categoria }}
            </option>
          </select>  
        </div>
      
        <!-- <div>
          <label>
            <input type="radio" id="radio" name="radio" [(ngModel)]="radio" required>
            Política
          </label><br/>
      
          <label>
            <input type="radio" id="radio" name="radio" [(ngModel)]="radio" required>
            Economia
          </label><br/>
      
          <label>
            <input type="radio" id="radio" name="radio" [(ngModel)]="radio" required>
            Esporte
          </label><br/>
      
          <label>
            <input type="radio" id="radio" name="radio" [(ngModel)]="radio" required>
            Etretenimento
          </label><br/>
        </div> -->
        
        <button class="btn btn-success" type="submit" [disabled]="!cadastro.form.valid">Cadastrar</button>
        <button class="btn btn-info" type="reset" formnovalidate>Limpar</button>
      </form>
    </div>

</div>








